body {
    color: rgba(0, 0, 0, 0.774);
    background: rgb(255, 255, 255);Add commentMore actions
    margin: 0px;
     font-family: "Edu QLD Hand", cursive;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px ;
    color: rgb(255, 255, 255)
}

section{
    background:rgba(199, 85, 142, 0.918);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p { 
    font-size:28px
}