body {
    color: rgba(126, 0, 243, 0.774);
    background: rgba(226, 126, 247, 0.486);Add commentMore actions
    margin: 0px;
}

header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px ;
    color: black
}

section{
    background:pink
}