body {
    color: rgba(126, 0, 243, 0.774);
    background: rgba(226, 126, 247, 0.486);Add commentMore actions
    margin: 0px;
     font-family: "Edu QLD Hand", cursive;
}

header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px ;
    color: black
}

section{
    background:rgba(228, 131, 147, 0.562);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}

h1 {
    font-size: 35px;
}

p { 
    font-size:20px
}